<%= error_messages_for :comment %>

<% form_for [ @article, @comment ] do |f| -%>

  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p><%= f.submit submit_name %></p>
<% end %>
